@import '../../styles/mixins';

.cell {
   width: var(--cell);
   height: var(--cell);
   
   &.dark {
      background: var(--dark-cell);
   }

   &.light {
      background: var(--light-cell);
   }
}

.figureCell {
   cursor: grab;
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--cell);
   height: var(--cell);

   img {
      width: var(--figure);
      height: var(--figure);
      @include no-grab();
   }
}