$breakpoints: (
   xs: 420,
   sm: 576,
   md: 768,
   lg: 992,
   xl: 1200,
   xxl: 1400,
);

$maxWidth: 1536;
$maxWidthContainer: 1350;

$selectionColor: rgba(41, 123, 245, .5);

:root {
   --cell: 85px;
   --white-cell: #c4bca6;
   --black-cell: #5e5a56;

   --figure: 80px;

   --main-color: #1a1410;
   --board-color: #2d261f;

   --selected-cell-highlight: rgba(220, 165, 75, .4);
   --move-highlight: rgba(0, 0, 0, .2);

   --hover: all 0.12s linear;
   --move: all 0.2s ease-in-out;
}